{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": true
    },
    "minify": {
      "compress": {
        "unused": true
      },
      "mangle": true
    }
  },
  "minify": true
}
